.post-it-card {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.post-it-card h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-it-card p {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5; /* Propiedad estándar para compatibilidad */
}

.delete-button {
    flex: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    width: 25px;
    height: 30px;
    cursor: pointer;
}
